<!DOCTYPE html>
<html lang="en">

<head>
    <title>Besant Technologies</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2354e8b647.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/dlog.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/css/burger.css"></script>
    <link rel="shortcut icon" href="../static/img/tit.png">   
    
</head>

<body>
    <!-- left and right & background -->
    <nav class="navbar background h-nav-resp"id="Home"
    
    >
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="../static/img/dragon.jpg" alt="logo"> </div>
            <li> <a href="#Home">Home</a></li>
            <li> <a href="#About">About</a></li>
            <li> <a href="#Services">Services</a></li>
            <li> <a href="#contact">Contact Us</a></li>
            <li> <a href="start">log_Out</a></li>
        </ul>
        <div class="rightNav v-class-resp">
            <input search type="text" name="search" id="search" placeholder="Search" >
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    
    </nav>

     <!-- 1st section -->

    <section class="background firstsection">
        <div class="box-main" >
            <div class="firsthalf">
                <p class="text-big">Data Is Feuture</p>
                <p class="text-small">In this world of 7 billion people we  
                    Have a huge collection of data .Who will sort this data. 
                    Come we will help you to Sort And Use To know where to use it to the Best..  </p>
                <div class="buttons">
                    <a href="https://towardsdatascience.com/best-data-science-blogs-to-follow-in-2020-d03044169eb4"><button class="btn">INFO..</button></a>
                    <a href="https://www.youtube.com/c/FlickThrough/videos"><button class="btn">Watch Vedio </button></a>
                </div>
            </div>

            <div class="secondhalf">
                <img src="../static/img/dragon.jpg" alt="dragon image">

            </div>

        </div>
    </section>


 <!-- 2nd section -->
 <!-- 1st in 2nd section -->


    <section class="section " id="Services">
        <div class="paras">
        <p class="sectionTag text-big">Technology Give You Something New</p>
        <p class="sectionSubTag text-small">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
             Illo obcaecati fugiat placeat, quam vel quia. Nostrum, amet impedit. 
             Tempora magnam officia est saepe pariatur laborum distinctio at nesciunt, vitae beatae ipsa 
             similique obcaecati sapiente dolorem tenetur iusto ut maxime dolores culpa, expedita eveniet totam fuga. 
             Tenetur ut nostrum exercitationem molestiae numquam nisi nemo id minima asperiores porro beatae
              saepe ducimus odio aspernatur, dignissimos quidem . In, debitis cum dolores aspernatur praesentium, 
               nulla reiciendis deleniti architecto laborum asperiores, rem natus voluptate officia hic porro 
               voluptatibus reprehenderit molestiae consequatur? Nisi illum sit, asperiores ratione vitae, 
               ex officia quam nostrum aliquid modi nulla eveniet, ducimus fugit, tenetur tempore hic possimus 
                provident debitis aliquid quos eaque. Aspernatur facere laborum iusto quam. Eveniet, voluptas. 
            </p>
        </div>
            <div class="thumbnail">
                <img src="https://source.unsplash.com/900x900/?Data Science,coding" alt="image not loading" class="imgFluid">         
            </div>
    </section>
    
<!-- 1st in 2nd section -->
    <section class="section section-Left" id="About">
        <div class="paras">
        <p class="sectionTag text-big">Nature Bring You Happy</p>
        <p class="sectionSubTag text-small">Almost before we knew it, we had left the ground.Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
             Illo obcaecati fugiat placeat, quam vel quia. Nostrum, amet impedit. 
             Tempora magnam officia est saepe pariatur laborum distinctio at nesciunt, vitae beatae ipsa 
             similique obcaecati sapiente dolorem tenetur iusto ut maxime dolores culpa, expedita eveniet totam fuga. 
             Tenetur ut nostrum exercitationem molestiae numquam nisi nemo id minima asperiores porro beatae
              saepe ducimus odio aspernatur, Nisi illum sit, asperiores ratione vitae, 
               ex officia quam nostrum aliquid modi nulla eveniet maxime voluptas laudantium temporibus tenetur fugiat
                numquam debitis. Vitae repellendus temporibus architecto, ducimus fugit, tenetur tempore hic possimus 
                provident debitis aliquid quos eaque. Aspernatur facere laborum iusto quam. Eveniet, voluptas. 
            </p>
        </div>
            <div class="thumbnail">
                <img src="https://source.unsplash.com/900x900/?data analytics,data analytics" alt="image not loading"  class="imgFluid">                
            </div>
    </section>
    
<!-- 1st in 2nd section -->
    <section class="section">
        <div class="paras" >
        <p class="sectionTag text-big">The Education Will Give You Something Alwaus</p>
        <p class="sectionSubTag text-small">Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, morals, beliefs, and habits.
             Educational methods include teaching, training, storytelling, discussion and directed research. 
             Education frequently takes di tenetur quos. In, debitis cum dolores aspernatur praesentium, 
             nulla reiciendis deleniti architecto Nisi illum sit, asperiores ratione vitae, 
             ex officia quam nostrum aliquid modi nullof educators, however learners can also educate themselves. 
            Education can take place in formal or informal settings and any experience that has a formative effect on the way one thinks, feels, or acts may be considered educational.
            </p>
        </div>
            <div class="thumbnail">
                <img src="https://source.unsplash.com/900x900/?class,college" alt="image not loading" class="imgFluid">
            </div>
    </section>

    <!-- section down -->
    <section class="contact" id="contact">
        <h1 class="text-center">Contact Us</h1>
        <div class="form">
            <input class="form-input" type="text" name="name" id="name" placeholder="Enter your name">
            <input class="form-input" type="email" name="email" id="email" placeholder="Enter your email">
            <input class="form-input" type="text" name="phone" id="phone" placeholder="Enter your phone">
             <textarea class="form-input" name="text" id="text" cols="30" rows="6"placeholder="Enter your Concern"></textarea>
            <button class="btn btn-dark">Submit</button>
        </div>
       

    </section>
    <link rel="stylesheet" href="../static/js/resp.js">
</body>

</html>