<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/2354e8b647.js" crossorigin="anonymous"></script>
    <script src="../static/css/burger.css"></script>
    <link rel="stylesheet" href="../static/css/dlog.css">
    <link rel="stylesheet" href="../static/css/style.css">


    <link rel="shortcut icon" href="../static/img/tit.png">
</head>

<body>
    <!-- left and right & background -->
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo">
                <a href="start"><img src="../static/img/dragon.jpg" alt="logo"></a>
            </div>

        </ul>
        <div class="rightNav v-class-resp">
            <a href="start"><button type="submit" class="btn-d">BACK</button> </a>
        </div>
    </nav>

    <!-- 1st section -->
    <!--  -->
    <section class=" firstsection background ">
        <div class="box-main">
            <div class="firsthalf">

                <div class="container-d">
                    <div class="form-d">
                        <form method="POST" action="/login_valid">
                            <div class="box">
                                <i class="fa fa-envelope"></i>
                                <input type="email" name="email" id="email" placeholder="Enter Your Email">
                            </div><br>
                            <div class="box">
                                <i class="fa fa-key"></i>
                                <input type="password" name="password" id="password" placeholder="Enter Your Password">
                            </div>

                            <div class="buttons-d">
                                <a href="index"><button type="submit" class="btn-d"><i class="fas fa-sign-in-alt"  ></i>    Log_in</button> </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="secondhalf">
                <a href="index.html"><img src="../static/img/dragon.jpg" alt="dragon image"></a>
            </div> -->
        </div>
    </section>
    <link rel="stylesheet" href="../static/js/resp.js">
</body>

</html>