<!DOCTYPE html>
<html lang="en">

<head>
    <title>BESANT TECHNOLOGIES</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/2354e8b647.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/dlog.css">
    <link rel="stylesheet" href="../static/css/style.css">
    
    <script src="../static/css/burger.css"></script>
    <link rel="shortcut icon" href="../static/img/tit.png">

</head>

<body>

    <!-- 1st section -->
    <!--  -->
    <section class="background firstsection  "><br><br><br>
        <div class="hki">
            <p class="text-big">HI</p><br>
            <p class="text-big">WELLCOME TO DATA SCIENCE BLOG</p><br>
            <p class="text-big">Data Is Feuture</p><br>

            <p class="text-small">in this world of 7 billion people we need have a huge collection of data.<br>
                Who will sort this data ?<br>
                Come And Visit This Blog And Know About Data Science </p><br><br>
            <p class="text-big">PLEASE LOGIN TO ACCESS THE BLOG</p><br><br><br>
        </div>
        <div class="btn-sm">
            <a href="signup"><button class="btn">Register</button> </a>
            <a href="login"><button class="btn"> Log_in  </button> </a>
        </div>
    </section>

    <link rel="stylesheet" href="../static/js/resp.js">
</body>

</html>